.root{
    -fx-background-color: skyBlue;
}
#bouton{
    -fx-position: fixed;
}
HBox{
    -fx-background-color: white;
    -fx-border-color: #2ab387;
    -fx-border-radius: 4;

}
Button{

    -fx-border-color: #2ab387;
    -fx-text-fill: black;
}
